.header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.nav {
  display: flex;
  align-items: center;

  &Logo {
    margin: 0;
    font-size: 1.8em;
    line-height: 1em;

    a {
      color: #2b2b2b;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &Links {
    justify-content: flex-end;
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
  }

  &Link {
    display: inline-block;
    margin: 0;
  }
}